@charset "UTF-8";

body {
	background-color: white;
	padding-left: 75px;
	padding-top:  45px;
	font: 20px Monaco;
	font-weight: bold;
	color: black;
}
a:link {
  color: #5F8FA0;
}
a:visited {
  color: #5F8FA0;
}
.warning {
	color: red;
}
.quote{
	
	font: FreeMono New; 
	font-weight: lighter;
	color: pink;
}
